/* Set font size to 16px on default browser settings */
html {font-size: 16px;} 

/* major thirds type scale*/
h1 {font-size: 3.052em;}
h2 {font-size: 2.441em;}
h3 {font-size: 1.953em;}
h4 {font-size: 1.563em;}
h5 {font-size: 1.25em;}

/* Padding and border are included in width and height calculations */
* {box-sizing: border-box;}

/* Color, font style, and spacing between element content and border*/
body {
    background-color: #A4ffde;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Color, font styling, sizing, and height for headings and paragraphs*/
h1 {
    color: black;
    font-weight: 700;
    font-style: normal;
}

h2 {
    color: black;
    font-style: normal;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
h5 {
    color: black;
    font-weight: 500;
    font-style: normal;
}
p {    
    color: black;
    font-weight: normal;
    line-height: 1.4em;
}

/*Color, font styling, sizing, and shadowing for header title and images*/
header {
    background-color: #dea4ff;
    box-shadow: 0px 0px 10px #ca89f0;
    text-align: center;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 7em;
    text-shadow: 5px 5px 7px lightgray;
}

.header-gallery {
    display: inline-block;
    width: 100%;
    padding: 20px;
}

#gallery-img1 {
    float: left;
    padding: 14px 16px;
}

#gallery-title {
    display: inline-block;
}

#gallery-img2 {
    float: right;
    padding: 14px 16px;
}

/*Navigation bar color, links, and alignment*/
#navbar {
    overflow: hidden;
    background-color: #e7c6fa;
    box-shadow: 0px 0px 10px #ca89f0;
}

#navbar a {
    float: left;
    display: block;
    font-family: 'Grandstander', cursive;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #A4ffde;
}

/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
    display: grid;
  }

/* Right column */
.rightcolumn {
    float: right;
    width: 25%;
    padding-left: 20px;
    display: grid;
    text-align: center;
}

img.medium {
    width: 300px;
    height: 275px;
    border: 1px solid #937e4a;
    border-radius: 15px;
}

img.small {
    width: 250px;
    height: 300px;
    border: 1px solid #937e4a;
    border-radius: 15px;
    padding: 5px;
}

/* Image side by side */
.sidebyside {
    display: inline-block;
    width: 33.33;
}

/* Color, shadowing, spacing btw element content and borders for info details */
.info {
    background-color: #ffdea4;
    padding: 10px;
    box-shadow: 5px 5px 5px 2px #937e4a;
  }

/* Color, font styling, sizing, and shadowing for body images */
figcaption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;
    font-size: .75em;
    font-weight: 400;
}
#party {
    margin-bottom: 300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Bottom Navigation link color*/
#bottomnav {
    color: blue;
    float: right;
}

  /* Footer */
footer {
    padding: 10px;
    text-align: center;
    background: lightgray;
    margin-top: 30px;
    text-shadow: 4px 4px 7px grey;
    box-shadow: 8px 8px 8px #777777;
  }
